.count{
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.count .inputmar{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
}